{{!-- The following component displays Ember's default welcome message. --}}
<!-- {{welcome-page}} -->
{{!-- Feel free to remove this! --}}
<div class="container">

  <div class="">
    <h1>thing</h1>
  </div>

  <div class="">
    <p>this is where the data should render</p>
  </div>

  <div class="">
    <button type="button" name="button">fetch</button>
  </div>
</div>


{{outlet}}
