
<div class="container" style="width: 600px;">

  <div class="">
    <h1>pantsApp</h1>
  </div>

    {{outlet}}

  <div class="text-center">
    <button type="button" name="button">{{#link-to 'mn'}}Minneapolis{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'il'}}Chicago{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'wa'}}Bellingham{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'ak'}}Alaska{{/link-to}}</button>
  </div>
</div>
