
<div class="container">

  <div class="">
    <h1>thing</h1>
  </div>

    {{outlet}}

  <div class="">
    <button type="button" name="button">{{#link-to 'mn'}}Minneapolis{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'mn'}}Chicago{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'mn'}}Bellingham{{/link-to}}</button>
    <button type="button" name="button">{{#link-to 'mn'}}Alaska{{/link-to}}</button>
  </div>
</div>
