
<div class="container">

  <div class="">
    <h1>thing</h1>
  </div>

    {{mn}}

    {{outlet}}

  <div class="">
    <button type="button" name="button">{{#link-to 'mn'}}fetch{{/link-to}}</button>
  </div>
</div>
